:root {
    --pri: #F8F4E1;
    --sec: #381c0a;
    --tri1: #FEBA17;
    --tri2: #74512D;
    --red: red;
    --green: rgb(9, 138, 89);
    --blue: rgb(0, 191, 255);
    --black: black;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);

}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;

}

#main {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    background-color: var(--sec);
}


section.allElems {
    height: 100%;
    width: 100%;
    padding: 40px;
    overflow: auto;
    position: absolute;

}

.allElems header {
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1717361279773-b2e7ee713d2e?q=80&w=3869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 35px 50px;
}

header .header1 h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 60px;
}

header .header1 h2 {
    font-size: 40px;
    font-weight: 500;
}

header .header1 h4 {
    font-weight: 500;
    font-size: 40px;
}

header .header2 h2 {
    font-weight: 700;
    font-size: 70px;
}

header .header2 h4 {
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 45px;
    font-size: 40px;
}

header .header2 h3 {
    font-weight: 500;
    font-size: 20px;
    opacity: 0.8;
}



.allElems .allFeatures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 20px; */
}

.elem {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.elem img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.elem h2 {
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    font-size: 33px;
    right: 5%;

}

.elem:active {
    scale: 0.97;
}

.fullElem {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    display: none;
    position: absolute;
    top: 0;
    z-index: 999;
}

.back {
    position: absolute;
    right: 5%;
    background-color: var(--red);
    border-radius: 10px;
    padding: 15px 22px;
    border: none;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.back:active {
    scale: 0.97;
}


.todo-list-fullpage h2 {
    font-size: 65px;
}


.todo-list-fullpage .todo-container {
    height: 80%;
    width: 100%;
    margin-top: 40px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.todo-list-fullpage .todo-container .addTask {
    width: 33%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
}


.todo-list-fullpage .todo-container .addTask form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 30px;
}

.todo-container .addTask form #task-input {
    padding: 15px 25px;
    width: 100%;
    font-size: 29px;
    border-radius: 5px;
    background-color: var(--pri);
    color: var(--sec);
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-weight: 500;
}

.todo-container .addTask form textarea {
    padding: 15px 25px;
    width: 100%;
    font-size: 29px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    font-weight: 500;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form button {
    padding: 15px 25px;
    width: 100%;
    font-size: 26px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    outline: none;
    margin-bottom: 20px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.todo-container .addTask form button:active {
    scale: 0.96;
}